html {
    --bg-color-body: oklch(94.176% 0.06065 90.798);
    --bg-color-header: oklch(39.3% 0.095 152.535);
    --color-text-link: oklch(82.8% 0.189 84.429);
    --color-text-link-hover: oklch(76.9% 0.188 70.08);
}

body {
    max-width: 100%;
    margin: 0;
    background-color: var(--bg-color-body)
}

#title {
    text-align: center;
}

header {
    background-color: var(--bg-color-header);
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100%;
}

a {
    color: var(--color-text-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-text-link-hover);
}

#menuList {
    display: inline-flex;
    gap: 1rem;
    font-size: 1.75rem;
    line-height: 1.8;
}

#menuList li {
    list-style: none;
}

header nav {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    max-height: 5rem;
    text-align: left;
}

#logoHeader {
    display: inline-flex;
    max-width: 33%;
}

#logoImg {
    object-fit: scale-down;
}

#menuImg {
    max-width: 10%;
    display: none;
}

#listaProductos {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#listaProductos .cardProducto {
    width: calc(33% - 0.5rem - 6%);
    border-radius: 6%;
    padding: 3%;
    background-color: white;
    flex-direction: column;
    align-items: baseline;
}

#listaProductos .cardProducto .bloqueContador {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#listaProductos .cardProducto .bloqueFoto {
    display: block;
    width: 100%;
    align-self: normal;
}

#listaProductos .cardProducto .bloqueFoto img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 12rem;
}

#listaProductos .cardProducto .bloqueContador .minus.enCero {
    visibility: hidden;
}

#carrito {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

#carrito #listaCarrito {
    grid-column: span 2 / span 2;
    gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#carrito #columnaCarrito {
    grid-column-start: 3;
    background-color: white;
    padding: 3%;
    border-radius: 1rem 1rem 1rem 1rem;
}

#carrito #columnaCarrito #resumenCarrito {
    list-style: ">";
}

#carrito #listaCarrito .cardProducto {
    width: calc(50% - 0.5rem - 6%);
    border-radius: 6%;
    padding: 3%;
    background-color: white;
    flex-direction: column;
    align-items: baseline;
}

#carrito #listaCarrito .cardProducto .bloqueContador {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#carrito #listaCarrito .cardProducto .bloqueFoto {
    display: block;
    width: 100%;
    align-self: normal;
}

#carrito #listaCarrito .cardProducto .bloqueFoto img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 12rem;
}

#botonCarrito {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
    border: 0 none white;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#botonCarrito img {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    header nav {
        flex-direction: column;
        max-height: 5rem;
        max-width: 100%;
    }

    #menuList {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        display: none;
        background-color: var(--bg-color-header);
    }

    #menuList li a {
        text-align: right;
    }

    #logoHeader {
        max-width: 100%;
        justify-content: space-between;
    }

    #logoImg {
        height: 5rem;
    }

    #menuImg {
        max-width: 100%;
        height: 4rem;
        width: 4rem;
        display: inline;
        object-fit: scale-down;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 575px) {
    header nav {
        max-height: 4rem;
    }

    #logoImg {
        height: 4rem;
    }

    #menuImg {
        height: 3.5rem;
        width: 3.5rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    #botonCarrito {
        max-width: 2.5rem;
        max-height: 2.5rem;
        bottom: 1rem;
        right: 1rem;
    }

    #botonCarrito img {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }
}